body{
  background: #25A9FC;
}

.box{
  position: relative;
  margin: auto;
  display: block;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  background: none;
}

.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background-color: sandybrown;
  border-radius: 50%;
}

.head-copy{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: sandybrown;
  border-radius: 50%;
  z-index: 2;
}

.ear-left{
  position: absolute;
  width: 60%;
  height: 65%;
  left: -20%;
  top: 5%;
  background-color: sandybrown;
  border-radius: 50%;
  z-index: 1;
}
.ear-right{
  position: absolute;
  width: 60%;
  height: 65%;
  right: -20%;
  top: 5%;
  background-color: sandybrown;
  border-radius: 50%;
  z-index: 1;
}
.inner-ear{position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  background-color: bisque;
}

.face1{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    left: 10%;
    top: 15%;
    background-color: bisque;
    z-index: 4;
}

.face2{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    left: 40%;
    top: 15%;
    background-color: bisque;
    z-index: 4;
}

.face3{
    position: absolute;
    border-radius: 40%;
    width: 60%;
    height: 40%;
    left: 19%;
    top: 50%;
    background-color: bisque;
    z-index: 4;
}

.eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  left: 21%;
  border-radius: 50%;
  z-index: 5;
}
.eye-right{
  position: absolute;
  background: white;
  width: 30%;
  height: 33%;
  top: 25%;
  right: 21%;
  border-radius: 50%;
  z-index: 5;
}
.pupil{
  position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
    z-index: 6;
}

.hair-left{
  position: absolute;
  top: -8%;
  left: 30%;
  width: 20%;
 height: 20%;
 background-color: sandybrown;
 -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.hair-right{
  position: absolute;
  top: -4%;
  left: 48%;
  width: 20%;
 height: 20%;
 background-color: sandybrown;
 -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.mouth{
    position: absolute;
    width: 50%;
    height: 30%;
    left: 25%;
    top: 55%;
    background-color: white;
    border-radius: 40%;
    z-index: 6;
}