body{
    background-image:url(/images/plain.jpg)
}

#car1{
    width: 300px;
    position:absolute;
    bottom:0;
    animation:car 10s infinite;
}

#car2 {
    width:300px;
   position:absolute;
   bottom:0;
    animation:car 5s infinite;
}


@keyframes car{
    from{left:0%}
    to{left:100%}
}

