/****** External CSS styling goes here ******/
@keyframes dab {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
.dab {
    animation-duration: 2s;
    animation-name: dab;
}
.think {
    animation-duration: 8s;
    animation-name: think;

}
@keyframes think {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(0.7);
  }
}
@keyframes lit {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
    
  100% {
    transform: scale(0.9);
  }
}
.lit {
    animation-direction: reverse;
    animation-duration: 1.7s;
    animation-name: lit;
    animation-iteration-count: infinite
    
}
.one {
    animation-duration: 5s;
    animation-name: one;
    
}
@keyframes one {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1.0);
  }
}
.mind {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}
background {
    background-color: red
    
}