#triangle-up {
	width: 150;
	height: 600;
    right: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid yellow;
    z-index: 10;
    position: absolute;
}
#square {
    width: 50px;
    height: 5px;
    left: 115px;
    top: 95px;
    background: black;
    position: absolute;
    z-index: ;
}

#rectangle {
	width: 39px;
	height: 5px;
    left: 10;
    top: 100px;
    background: black;
    z-index: 1;
    position: absolute;
}
#circle {
 width: 60px;
    height: 40px; 
    left: 45px;
    top: 60px; 
    right:1335px; 
    background: white;
    -webkit-border-radius: 100px / 50px; 
    -moz-border-radius: 100px / 50px; 
    position: absolute; 
}
#oval { 
    width: 6px; 
    height: 30px;
    left:75px; 
    top: 65px; 
    right:1300px; 
    background: black;
    -webkit-border-radius: 100px / 50px; 
    -moz-border-radius: 100px / 50px; 
    position: absolute;
    z-index: 1;
}
#triangle_left {
    top: 105px;
    width: 0;
    height: 30;
    left: 76px;
    border-top: 16px solid transparent;
    border-right: 16px solid black;
    border-bottom: 16px solid transparent;
    position: absolute;
}
#triangle_right {
    top: 105px;
    width: 0;
    height: 40;
    left: 60px;
    border-top: 16px solid transparent;
    border-left: 16px solid black;
    border-bottom: 16px solid transparent;
    position: absolute;
}
#rectangle_2 {
    width: 70px;
    height: 10px;
    top: 20px;
    left: 40px;
    background: black;
    position: absolute;

}
#rectangle_3 {
    width: 20px;
    height: 20px;
    top: 0px;
    left: 65px;
background: black;
    position: absolute;
    
}
#rectangle_eye_1 {
    width: 3px;
    height: 9px;
    top: 51px;
    left: 65px;
    background: black;
    position: absolute;
}
#rectangle_eye_2 {
    width: 3px;
    height: 9px;
    top: 54px;
    left: 55px;
    background: black;
    position: absolute;
}

#rectangle_eye_3 {
        width: 3px;
    height: 9px;
    top: 52px;
    left: 76px;
    background: black;
    position: absolute;
}
#rectangle_eye_4 {
width: 3px;
    height: 9px;
    top: 54px;
    left: 90px;
    background: black;
    position: absolute;
}
#rectangle_eye_5 {
width: 3px;
    height: 8px;
    top: 95px;
    left: 96px;
    background: black;
    position: absolute;
}
#rectangle_eye_6 {
width: 3px;
    height: 7px;
    top: 96px;
    left: 56px;
    background: black;
    position: absolute;
}
#rectangle_eye_7 {
width: 3px;
    height: 7px;
    top: 99px;
    left: 72px;
    background: black;
    position: absolute;
}
#rectangle_arms_1 {
    width: 7px;
    height: 35px;
    top: 95px;
    left: 160px;
    background: black;
    position: absolute;
}
#rectangle_arms_2 {
    width: 5px;
    height: 32px;
    top: 100px;
    left: 0px;
    background: black;
    position: absolute;
}
#rectangle_legs_1 {
     width: 5px;
    height: 32px;
    top: 145px;
    left: 56px;
    background: black;
    position: absolute;;
}
#rectangle_legs_2 {
     width: 5px;
    height: 32px;
    top: 145px;
    left: 96px;
    background: black;
    position: absolute;;
}
