/* ADD CSS STYLING HERE */
body {
    background-image: url("http://media.gettyimages.com/photos/gray-doggy-tile-pattern-repeat-background-picture-id490747664?s=170x170&w=1007");
}
h1{
    font-family: 'Rammetto One', cursive;
    font-size: 32px;
     text-align: center;
      height: 60px;
    width: 1250px;
    background-color:		#ffcccc;
    
}


h2{
    font-family: Cambria, serif;
    font-size: 27px;
     text-align: center;
    
}
    
 h3{
    font-family: 'Noto Serif', Cambria, serif;
    font-size: 24px;
} 


.reasons{
    font-family: 'Poppins', Calibri, sans-serif;
    font-size: 20px; 
     
}

img{
   position: relative;
       left: 175px;
}

.imgage-square{
   position: relative;
       left: 575px;
}
#About-Me{
    font-family: Calibri, sans-serif;
    font-size: 18px; 
      margin: 10px 80px;
    border: solid #b295c8;
    border-width: 3px;
    padding: 5px
  
}


