/****** External CSS styling goes here ******/
body {
   background: lightblue; 
    text-align: left;
}

.sky{
    width:infinite ;
    padding: 200px;
    box-sizing: border-box;
    
}

img {
   position: absolute;
    top: 40px;
    left: 40px;
        animation-name: doggo;
    animation-duration: 3s;
}

.doggo{
    
    height: 350px;
    
}


.fireworks {
    margin-left: 250px;
    
}




/*keyframes*/

@keyframes doggo{
    from{
        transform:translateX(0) }
    to {
        transform:translateX(500px;)}
}